.container{    
    display: flex;
    position: absolute;    
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;    
    height: 100vh;
}
.modal-container{
    width: 60vw;
    height: 60vh;
    background: rgb(210,210,210);
    background: linear-gradient(90deg, rgba(210,210,210,1) 0%, rgba(190,190,209,1) 26%, rgba(89,162,177,1) 100%);
    padding: 20px;
    box-shadow: 5px 3px 5px rgba(0,0,0,.3);
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal-header{
    background: rgb(17, 65, 114);
    width: 59.8vw;
    position: absolute;
    left: .7px;
    top: .4px;
}
.modal-body{
    flex:1;
    text-align:center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-color: rgb(211, 238, 241);
    border:1px solid rgb(17, 65, 114);
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-footer{
    display: flex;
    justify-content: flex-end;    
    background: rgb(17, 65, 114);
    padding: 10px;
}
.modal-footer button{
    margin-right: 10px;
}