.container{
    min-width:20vw;
    background-color: rgb(203, 234, 241);  
}
.active{
    background-color: snow;
    color:rgb(190, 211, 212);
    text-shadow: 1px 1px 2px black;
}
h4{
    padding: 5px 10px;
    cursor: pointer;
}