h2{
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width:32vw;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: .1rem;
    text-align: center;
    background-color: snow;
    color:rgb(190, 211, 212);
    text-shadow: 1px 1px 2px black;
    /* white-space: wrap;  */
    width: 35vw;
}
.deleteAction{
    position:absolute;
    cursor:pointer;
    right:0;
    color:rgb(190, 211, 212)
}
.editAction{
    position:absolute;
    cursor:pointer;
    right:20px;
    color:rgb(190, 211, 212)
}

.edit:hover{
    color:rgb(61, 90, 90)
}
.delete:hover{
    color:red
}
.user:first-letter{
    color:red;
    font-size: large;    
}
.author p{
    display: inline;
    float: right;
}
.author span{
    float: right;
}
.author{
    display: inline;
    float: right;
}
.article{
    clear: both;
}
.article *{
    background-color: rgb(203, 234, 241)!important;  
    font-size: 14px!important;
    display: inline;
    float: right;
}
hr{
    margin-bottom: 10px;
}
.article p{
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width:32vw;
    font-size: 14px;
    padding: 5px;
    overflow: hidden;
    /* margin-left: auto;     */
}
li{
    list-style: none;
    display: inline;
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(247, 251, 252);
}
ul{
    display: inline;
    float: right;
    margin-left: auto;
}
.container{
    display: flex;
    width: 35vw;
    min-height: 20vh;
   
    flex-direction: column;
    background-color: rgb(203, 234, 241);  
    padding-right: 10px; 
}