.btn{
    padding: 10px 20px;
    background-color: turquoise;
    color:  rgb(17, 65, 114);
    border-radius: 5px;
    outline: none;
    width:6rem;
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s,transform .3s ;
}
.btn:hover{
    opacity: 1;
    transform: scale(1.07);
}
