.inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 5px 20px;
    width: 85%;
}
.input, .inputContainer label {
    padding:10px;
    margin: 10px;
}
.inputContainer label {
    color: rgb(25, 76, 92);
    font-weight: bold;
}
.input{
    border-radius: 5px;
    outline: none;
}